langgraph~=0.2.69
langgraph-checkpoint-sqlite~=2.0.1
SQLAlchemy~=2.0.35

langchain~=0.3.17
langchain-openai~=0.3.3
langchain-chroma~=0.2.1

chromadb~=0.6.3

sentence-transformers

typing_extensions~=4.12.2
pydantic~=2.9.2
python-dotenv
openai
tkinter
pyinstaller