langchain==0.3.0
langchain-core==0.3.5
langchain-community==0.3.0
langchain-chroma==0.1.4
langchain-ollama==0.2.0

chromadb==0.5.7
openai==1.47.0

transformers==4.44.2
accelerate==1.0.0rc1

sentence-transformers==3.1.1

python-dotenv==1.0.1

oauthlib~=3.2.2
pydantic~=2.9.2
SQLAlchemy~=2.0.35